<section id="team">
  <div class="container">
      <div class="section-header">
          <h3>Team</h3>
          <p>Meet our team</p>
      </div>
    <div class="row">
        <div class="col-lg-2 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="member"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559454811/team-1.jpg" class="img-fluid" alt="">
                 <div class="member-info">
                    <div class="member-info-content">
                      <h4>Prasanth Reddy</h4> <span>Chief Executive Officer</span>
                   
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
              <div class="member"> <img src="../../assets/nagasai.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                      <div class="member-info-content">
                          <h4>Naga Sai</h4> <span>Civil-HOD</span>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="member"> <img src="../../assets/sravanth2.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                      <div class="member-info-content">
                          <h4>Sravanth Varma</h4> <span>Placement Officer</span>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <div class="member"> <img src="../../assets/ramesh.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                      <div class="member-info-content">
                          <h4>Ramesh</h4> <span>Mech-HOD</span>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="member"> <img src="../../assets/monish.jpg" class="img-fluid" alt="">
                <div class="member-info">
                    <div class="member-info-content">
                        <h4>Monish</h4> <span>ECE-HOD</span>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <div class="member"> <img src="../../assets/girish.jpg" class="img-fluid" alt="">
              <div class="member-info">
                  <div class="member-info-content">
                      <h4>Girish</h4> <span>CSE-HOD</span>
                      
                  </div>
              </div>
          </div>
      </div>

      </div>
  </div>
</section>




<!-- <div class="jumbotron">
    <h3 class="text-center mt-1"> <b>Our Management</b> </h3>
    <div class="row">
        <div class="col-4 text-center">
          <img src="../assets/gs.jpg" height="250px" width="250px" alt="general secretary">
                <h4 class="text-center">Mr.Srinivas Reddy <br>
                                    General secretary </h4>
                                  
        </div>
        <div class="col-4  text-center">
            <img src="../assets/js.jpg" height="250px" width="250px" alt="general secretary">
            <h4 class="text-center">Mr.Venkatesh <br>
                                    Joint secretary </h4>
        </div>
        <div class="col-4  text-center">
            <img src="../assets/principal.jpg" height="250px" width="250px" alt="general secretary">
            <h4 class="text-center">Dr.Ch.Srinivas <br>
                Principal </h4>
        </div>
    </div>
</div> -->
<hr class="solid" width="75%">
<div class="row">
    <div class="col-md-3">
        <h4 class="text-primary"><b>VISION</b></h4>
        <img src="../assets/v.jpg" height="200px" width="250px" alt="vision">
    </div>
    <div class="col-md-3">
      <p class="mt-4">  To provide latest technical knowledge, analytical and practical skills, managerial competence and interactive abilities to students, so that the employability of the products of this College is enhanced.To provide a strong human resource base catering to the changing needs of the Industry and Commerce.</p>
    </div>
     <div class="vl"></div> 
    <div class="col-md-3">
        <h4 class="text-warning"><b>MISSION</b></h4>
        <img src="../assets/v.png" height="200px" width="250px" alt="mission">
    </div>
    <div class="col-md-3">
        <p class="mt-4">To provide a healthy educational environment for students and staff to cater to the needs of the Society. To provide a creative environment and innovative approach to the learning process. To spread Engineering/Technological awareness at all levels..</p>
    </div>
</div>
<hr class="solid" width="75%">
<div class="row text-center">
    <div class="col-md-6 alert alert-primary" role="alert">
        <h3><b>AIT university</b></h3>
        <p>The society was established by an eminent and educated personalities in the name of Goddess Saraswathi Devi, FIU university during the year 2003 under the leader ship of General Secretary Dr. G. Sreenivas Reddy Garu, who is a doctor in Ayurveda and a dedicated missionary and crusader in the field of education, is the spirit and force behind this reputed organization. The society was established with a crystal vision to produce professionals having scientific intellect, innovation and imagination.</p>
        <img src="../assets/as.png" alt="campus"> <br>
    </div>
    <div class="col-md-6 alert alert-success" role="alert">
        <img src="https://lh5.googleusercontent.com/p/AF1QipOXxNKUF72N-BRXQktpNdWDE4eJkafXihhsCooF=w213-h160-k-no" alt="campus"> <br>
        <h3 class="alert-heading"> <b>AIT university</b> </h3>
        <p>To be among the best of the institutions for engineers and technologists with attitudes, skills and knowledge and to become an epicentre of creative solutions. To achieve and impart quality education with an emphasis on practical skills and social relevance.</p>
    
      </div>
</div> 

